body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fcebb6;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 150px auto;
    background: rgb(253, 238, 215);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative; /* ロボットを相対的に配置するために必要 */
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.login-form {
    background-color: #ffd662;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Use full width of the container */
    max-width: 300px; /* Set a maximum width */
    margin: 0 auto; /* Center the form within the container */
    text-align: left;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Use full width of the parent container */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

.login-button {
    background-color: #ffd662;
    color: #333333;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Use full width of the form */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-button:hover {
    background-color: #e0a800;
}

.robot {
	        width: 150px; /* サイズを1.5倍に変更 */
	        height: 150px; /* サイズを1.5倍に変更 */
            background-image: url(robot7.png); /* ロボットの画像を指定 */
            background-size: cover;
            position: absolute;
			top: -100%; /* containerの中の上部に配置 */
			left: 0%; /* containerの中の左側に配置 */
            animation: drop 1.3s ease-in-out forwards;
        }

@keyframes drop {
            to {
                top: -20px; /* 画面中央に降りてくる */
            }
        }
		

		header {
		  display: flex;
		  width: 100%;
		  height: 80px;
		  background-color: #ffc107;
		  align-items: center;
		  position: fixed;
		  top: 0; /* これを追加 */
		}
		
		h3 {
			font-size: 24px;
			    color: #333333;
			    margin-bottom: 20px;
		}

		a {
		  text-decoration: none;
		  color: black;
		}

		.menu-item {
		  list-style: none;
		  display: inline-block;
		  padding: 10px;
		}
		
		.nav {
		  margin-right: 10px; /* これを追加 */
		}
		
		.header-title {
		  margin-left: 20px;
		}

