@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fcebb6;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffd662;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #ff9203;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #ffc107;
  align-items: center;
  position: fixed;
  top: 0;
}

h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.nav {
    margin-left: auto;
    margin-right: 10px;
}

.header-title {
    margin-left: 20px;
}

.header-btn {
    background-color: #ffc107;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0;
}

.header-btn:hover {
    background-color: #e0a800;
}