body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fcebb6;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffd662;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #ff9203;
}

h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.nav {
    margin-left: auto;
    margin-right: 10px;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #ffc107;
  align-items: center;
  position: fixed;
  top: 0;
}

.header-title {
    margin-left: 20px;
}

.header-btn {
    background-color: #ffc107;
    border: none;
    font-size: 28px;
    cursor: pointer;
    padding: 0px;
    margin: 0;
	font-weight: bold;
	color: rgb(109, 39, 27);
}

.header-btn:hover {
    background-color: #e0a800;
}

.header-btn-2 {
    background-color: #ffc107;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0px;
    margin: 0;
	font-weight: bold;
	color: rgb(109, 39, 27);
}

.header-btn-2:hover {
    background-color: #e0a800;
}


.robot {
    width: 200px; 
    height: 200px; 
    background-image: url(robot-bye.png); /* ロボットの画像を指定 */
    background-size: cover;
    position: absolute;
	left: 25%; /* 画面の中央より少し左側に配置 */
	top: 50%; /* 初期位置を画面中央に設定 */
	transform: translate(-50%, -50%); /* 完全に中央に配置 */
	animation: drop 3.0s ease-in-out forwards;
	}

@keyframes drop {
	to {
	top: -150px;  /*画面外にいく */
	}
}

/* 画面幅が600px以下の場合、ロボットを非表示にする */
@media (max-width: 650px) {
	.robot {
		width: 100px; 
		height: 100px;
		left: 10%; /* 画面の中央より少し左側に配置 */
	}
}			
@media (min-width: 650px) and (max-width: 900px) {
	.robot {
		left: 15%; /* 画面の中央より少し左側に配置 */
	}
}		