<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>データ削除確認</title>
<link rel="stylesheet" th:href="@{css/style3.css}">
</head>
<body>
    <h1 class="tytle">以下のデータを削除しますか?</h1>
    <table border="1">
        <tr>
            <th>日付</th>
            <td th:text="${year}"></td>
        </tr>
        <tr>
            <th>勤怠区分</th>
            <td th:text="${attendanceType}"></td>
        </tr>
		<tr>
		    <th>出勤時刻</th>
			<td>
				<span th:text="${startHour}"></span>:&nbsp;
				<span th:text="${startMinute}"></span>
			</td>
		</tr>
		<tr>
		    <th>退勤時刻</th>
			<td>
				<span th:text="${finishHour}"></span>:&nbsp;
				<span th:text="${finishMinute}"></span>
			</td>
		</tr>
        <tr>
            <th>休憩時間(分)</th>
            <td th:text="${restTime}"></td>
        </tr>
    </table>
	
    <div>
		<form th:action="@{/delete_complete_page}" method="post" th:object="${summaryForm}">
		
			<input type="hidden" name="employeeNum" th:field="*{employeeNum}">
			<input type="hidden" name="attendanceId" th:field="*{attendanceId}">
			<input type="hidden" name="date" th:field="*{date}">
			<input type="hidden" name="empName" th:field="*{empName}">
			<input type="hidden" name="attendanceType" th:field="*{attendanceType}">
			<input type="hidden" name="startHour" th:field="*{startHour}">
			<input type="hidden" name="startMinute" th:field="*{startMinute}">
			<input type="hidden" name="finishHour" th:field="*{finishHour}">
			<input type="hidden" name="finishMinute" th:field="*{finishMinute}">
			<input type="hidden" name="restTime" th:field="*{restTime}">
		
			<input type="submit" value="削除確定" class="btn">
		</form>
	</div>
		<form th:action="@{/return_edit_delete2}" method="post" th:object="${myForm}">
			<input type="hidden" th:field="*{employeeNum}">
			
			<input type="submit" value="もどる" class="btn">          
		</form>
    </div>
	
</body>
</html>