<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編集完了画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	
	<header>
	    <h3 class="header-title">
	        <form th:action="@{/my_page}" th:object="${employeeNumForm}" method="post">
	            <input type="hidden" th:field="*{employeeNum}">
	            <button type="submit" class="header-btn">M社勤怠管理システム</button>
	        </form>
	    </h3>
	    <nav class="nav">
	      <ul class="menu-group">
	        <li class="menu-item">
	            <form th:action="@{/logout_page}" method="post">
	                <input type="hidden" th:field="*{employeeNum}">
	                <button type="submit" class="header-btn-2">ログアウト</button>
	            </form>
	        </li>
	      </ul>
	    </nav>
	</header>
	
    <h1>編集完了しました</h1>
	
    <form th:action="@{/edit_return_mypage}" method="post" th:object="${myForm}">
		<input type="hidden" th:field="*{employeeNum}">
        <input type="submit" value="Myページにもどる" class="btn">
    </form>
   
</body>

</html>
