<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>編集削除</title>
<link rel="stylesheet" th:href="@{/css/edit-delete.css}">
</head>
<body>
	<div>あはっは</div>
	
<!--<div th:if="${リスト名} == null">-->
<!--	<h1 class="tytle">勤怠データが存在しません</h1>-->
<!--</div>-->

<!--<div th:if="${リスト} != null" class="table-wrapper">-->
<!--    <h1 class="tytle">編集削除</h1>-->


<!--    <table border="1" class="">-->
<!--        <tr>-->
<!--            <th colspan = "2">編集・削除</th><th>日付</th><th>出勤区分</th><th>出勤時間</th><th>退勤時間</th><th>休憩(分)</th>-->
<!--        </tr>-->


<!--        <tr th:each="要素を格納する変数 : ${リスト}">-->
<!--            <td>-->
<!--                 編集ボタン -->
                <form th:action="@{/edit_page}" method="post" th:object="${attendForm}">
<!--                    <input type="hidden" name="日付の列名" th:value="${要素を格納した変数.日付の列名}">-->
<!--                    <input type="hidden" name="出勤区分の列名" th:value="${要素を格納した変数.出勤区分の列名}">-->
<!--                    <input type="hidden" name="出勤時間の列名" th:value="${要素を格納した変数.出勤時間の列名}">-->
<!--                    <input type="hidden" name="退勤時間の列名" th:value="${要素を格納した変数.退勤時間の列名}">-->
<!--                    <input type="hidden" name="休憩の列名" th:value="${要素を格納した変数.休憩の列名}">-->
                    <input type="submit" value="編集" class="tbtn">
                </form>
<!--            </td>-->
<!--            <td>-->
<!--                 削除ボタン -->
                <form th:action="@{/delete_page}" method="post" th:object="${attendForm}">
<!--					<input type="hidden" name="日付の列名" th:value="${要素を格納した変数.日付の列名}">-->
<!--					<input type="hidden" name="出勤区分の列名" th:value="${要素を格納した変数.出勤区分の列名}">-->
<!--					<input type="hidden" name="出勤時間の列名" th:value="${要素を格納した変数.出勤時間の列名}">-->
<!--					<input type="hidden" name="退勤時間の列名" th:value="${要素を格納した変数.退勤時間の列名}">-->
<!--					<input type="hidden" name="休憩の列名" th:value="${要素を格納した変数.休憩の列名}">-->
                    <input type="submit" value="削除" class="tbtn">
                </form>
<!--            </td>-->
			
<!--            <td th:text="${要素を格納した変数.日付の列名}"></td>-->
<!--            <td th:text="${要素を格納した変数.出勤区分の列名}"></td>-->
<!--            <td th:text="${要素を格納した変数.出勤時間の列名}"></td>-->
<!--            <td th:text="${要素を格納した変数.退勤時間の列名}"></td>-->
<!--            <td th:text="${要素を格納した変数.休憩の列名}"></td>-->

<!--        </tr>-->

<!--    </table>-->

<!--</div>-->

    <form th:action="@{/edit_delete_return_mypage}" method="post" th:object="${attendForm}">
        <input type="submit" value=MYページにもどる class="btn">
    </form>
   
</body>
</html>
