<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>編集削除</title>
    <link rel="stylesheet" th:href="@{/css/edit-delete.css}">
    <style>
        /* 中央揃えのためのスタイル */
        .button-container {
            display: flex;
            justify-content: center; /* 水平方向に中央揃え */
            margin-top: 20px; /* 上部の余白 */
        }
    </style>
</head>
<body>
    <div th:if="${resultList} != null">
        <h1 class="tytle">検索結果</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>ボタン</th>
                    <th>勤怠ID</th>
                    <th>日付</th>
                    <th>社員名</th>
                    <th>出勤区分</th>
                    <th>出勤時</th>
                    <th>出勤分</th>
                    <th>退勤時間</th>
                    <th>退勤分</th>
                    <th>休憩(分)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${resultList}">
                    <td>
                        <input type="radio" name="attendanceId" th:value="${result.attendanceId}" required>
                    </td>
                    <td th:text="${result.attendanceId}"></td>
                    <td th:text="${result.date}"></td>
                    <td th:text="${result.empName}"></td>
                    <td th:text="${result.attendanceType}"></td>
                    <td th:text="${result.startHour}"></td>
                    <td th:text="${result.startMinute}"></td>
                    <td th:text="${result.finishHour}"></td>
                    <td th:text="${result.finishMinute}"></td>
                    <td th:text="${result.restTime}"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
            <form th:action="@{/edit}" method="post">
                <input type="submit" value="編集" class="tbtn">
            </form>
            <form th:action="@{/delete}" method="post">
                <input type="submit" value="削除" class="tbtn">
            </form>
        </div>
    </div>

    <form th:action="@{/edit_delete_return_mypage}" method="post" th:object="${attendForm}">
        <input type="submit" value="MYページにもどる" class="btn">
    </form>
</body>
</html>