<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login-top</title>
<link rel="stylesheet" th:href="@{/css/login-page.css}">
</head>
<body>
    <div class="container">
		<div class="robot"></div> <!-- ロボットの要素を追加 -->
        <h1>勤怠管理アプリ</h1>
        <form class="login-page" th:action="@{/login_start}" th:object="${loginForm}" method="post">
            <div class="input-group">
                <label for="employee-id">社員番号</label>
                <input type="text" id="employee-id" name="employee-id"
                    pattern="[0-9]{6}"
                    title="社員番号は半角数字6文字で入力してください"
                    required
					th:field="*{employeeNum}">
            </div>
            <div class="input-group">
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password"
                    pattern="[a-zA-Z0-9]{1,16}"
                    title="パスワードは1文字以上16文字以内の半角英数字で入力してください"
                    required
					th:field="*{pass}">
            </div>
            <input type="submit" class="login-button" value="ログイン">
        </form>
		
		<p th:text="${message}"></p>
    </div>
</body>
</html>
