<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>認証結果</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <h1>認証完了</h1>
   <p>ログインに成功しました。</p>
	
	<form th:action="@{/my_page}" th:object ="${employeeNumForm}" method="post">
		<input type="hidden" th:field="*{employeeNum}">
<!--		<input type="hidden" th:field="*{pass}">-->
		
		<input type="submit" value="myページ" class="btn">
	</form>
		
	<br>
	
	<form th:action="@{/personal_page}" th:object ="${employeeNumForm}" method="post">
		<input type="hidden" th:field="*{employeeNum}">
		<input type="submit" value="総務ページ" class="btn">
	</form>
	
	<p th:text="${message}"></p>
				
</body>
</html>