<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>総務ページ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div>総務専用ページ</div>
	<form th:action="@{/my_page_personal}" th:object ="${employeeNumForm}"  method="post" >
			<input type="hidden" th:field="*{employeeNum}">
			<input type="submit" value="myページ" class="btn">
		</form>
	<br>
	<form th:action="@{/personal_export}" th:object ="${employeeNumForm}" method="post">
			<input type="hidden" th:field="*{employeeNum}">
			<input type="submit" value="エクスポート" class="btn">
		</form>
</body>
</html>