<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>登録完了</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<header>
    <h3 class="header-title">
        <form th:action="@{/my_page}" th:object="${employeeNumForm}" method="post">
            <input type="hidden" th:field="*{employeeNum}">
            <button type="submit" class="header-btn">M社勤怠管理システム</button>
        </form>
    </h3>
    <nav class="nav">
      <ul class="menu-group">
        <li class="menu-item">
            <form th:action="@{/logout_page}" method="post">
                <input type="hidden" th:field="*{employeeNum}">
                <button type="submit" class="header-btn">ログアウト</button>
            </form>
        </li>
      </ul>
    </nav>
</header>

	<body>
	    <h1>完了しました</h1>
	    <form th:action="@{return_mypage}" method="post" th:object="${myForm}">
			
			<input type="hidden" th:field="*{employeeNum}">
	        <input type="submit" value="Myページにもどる" class="btn">
	    </form>
	</body>
	
</html>