<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
   <h1>特殊検索</h1>
   <div class="orange-box">
		<form th:action="@{/search_normal_result}" th:object="${inputData}" method="post" th:object="${}">
    		<p class="form-group">
        		<label for="date">日付:</label>
        		<input type="date" th:field="*{date}">
    		</p>


   			<p class="form-group">
       			<label for="employee-name">社員名:</label>
       			<input type="text" th:field="*{empName}">
   			</p>


   			<p class="form-group">
       			<label for="employee-number">社員番号:</label>
       			<input type="text" th:field="*{empNum}">
   			</p>

			
			<p class="form-group">
				<label for="department">部署:</label>
				<select class="attend" th:field="*{composeId}">
					<option value="1" >総務部総務1課</option>
				    <option value="2" selected>総務部総務2課</option>
				    <option value="3">開発部開発1課</option>
				    <option value="4">開発部開発2課</option>
				    <option value="5">開発部開発3課</option>
				    <option value="6">営業部営業1課</option>
					<option value="7">営業部営業2課</option>
				</select>
			</p>
			
			<div class="box">
				<input type="hidden" th:field="*{employeeNum}">
				<input type="submit" value="検索" class="btn">
			</div>
		</form>
   </div>
   
<!--   <p class="error-message" th:text="*{}">該当するデータがありません</p>-->
   <div class="box">
    <form th:action="@{/my_page_sp}" method="post" th:object="${}">
        <input type="submit" value="Myページ" class="btn">
    </form>
   </div>
</body>
