<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
   <h1>普通検索</h1>
   <div class="orange-box">
      <form th:action="@{/search_special_result}" th:object="${inputDataForm}" method="post">
         <p class="form-group">
            <label for="date">日付:</label>
            <input type="date" th:field="*{date}" required>
         </p>

         <p class="form-group">     
            <label for="employee-name">社員名:</label> 
            <span th:text="${empName}"></span>
         </p>

         <p class="form-group">
            <label for="employee-number">社員番号:</label>  
            <span th:text="${empNum}"></span>
         </p>

         <p class="form-group">
            <label for="department">部署:</label>
            <span th:text="${composeId}"></span>
         </p>

         <div class="box">
<!--            <input type="hidden" th:field="*{employeeNum}">-->
			
            <input type="submit" value="検索" class="btn">
         </div>
      </form>
   </div>

   <div class="box">
      <form th:action="@{/my_page_sp}" th:object="${myForm}" method="post">
         <input type="hidden" th:field="*{employeeNum}">
         <input type="submit" value="Myページ" class="btn">
      </form>
   </div>
</body>
</html>