<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
   <h1>検索</h1>
   <div class="orange-box">
    <p class="form-group">
        <label for="date">日付:</label>
        <input type="date" th:field="*{}">
    </p>


   <p class="form-group">
       <label for="employee-name">社員名:</label>
       <input type="text" th:field="*{}">
   </p>


   <p class="form-group">
       <label for="employee-number">社員番号:</label>
       <input type="text" th:field="*{}">
   </p>


   <p class="form-group">
       <label for="department">部署:</label>
       <input type="text" th:field="*{}">
   </p>


   </div>
   
   <p class="error-message" th:text="*{}">該当するデータがありません</p>
   
   <div class="box">
    <form th:action="@{/search_normal_result}" method="post" th:object="${}">
        <input type="submit" value="検索" class="btn">
    </form>
   </div>
       
   <div class="box">
    <form th:action="@{/my_page}" method="post" th:object="${}">
        <input type="submit" value="Myページ" class="btn">
    </form>
   </div>
</body>
